@model DMSystemMvc.Models.OrderDetail

@{
    ViewData["Title"] = "Cancel Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Cancel your booked delivery of <b>Order Id : @Model.OrderId</b> </h3>
<hr />

<div>
   
  
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfPickup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOfPickup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightOfPackage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightOfPackage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Executive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Executive.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <button type="submit" value="Delete" class="btn btn-danger" onclick="DeleteFunction()">Confirm Cancellation</button> 
        <a asp-action="BookingList" class="btn btn-primary"><span><i class="fa fa-angle-left"></i></span> Back to List</a>
       @* <a asp-action="BookingList" class="btn btn-outline-light">Back to List</a>*@
    </form>
</div>
<script>
    function DeleteFunction(){
        alert("Cancelled Successfully");
    }
</script>